[defaults]
inventory = inventories/lab/inventory.yml
roles_path = roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections



[privilege_escalation]
become = True

