---
- name: Install fail2ban
  ansible.builtin.package:
    name: fail2ban
    state: present

- name: Configure fail2ban jail for SSH
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: '0644'
  notify: Restart fail2ban

- name: Ensure fail2ban is enabled and running
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: yes
