---
# Secuencias de knocking (ajusta a tu gusto)
knock_open_sequence: [7000, 8000, 9000]
knock_close_sequence: [9000, 8000, 7000]

# Tiempo en segundos para completar la secuencia
knock_seq_timeout: 10

# Backend de firewall: "iptables" o "ufw"
knock_firewall_backend: "iptables"

# Si true: al instalar, cerrará SSH y solo lo abrirá por knocking
knock_manage_firewall_on_install: false

# Ruta de scripts
knock_open_script_path: "/usr/local/sbin/knock_open_ssh.sh"
knock_close_script_path: "/usr/local/sbin/knock_close_ssh.sh"

# Puerto SSH a controlar:
# - Si Ansible está conectado por un puerto (ansible_port), ese es el que te interesa controlar.
# - Si no existe ansible_port, cae a 22.
ssh_port: "{{ ((ssh_server_ports | default([])) | first) | default(ansible_port | default(2222)) | int }}"

# Si quieres permitir solo una IP concreta en modo estricto, rellena esto.
# Si está vacío, se abrirá para la IP que hace knock (%IP% en knockd).
knock_allow_fixed_ip: ""
