---
- name: Ensure auditd is installed
  ansible.builtin.apt:
    name:
      - auditd
      - audispd-plugins
    state: present
    update_cache: true

- name: Deploy audit.rules
  ansible.builtin.template:
    src: audit.rules.j2
    dest: /etc/audit/rules.d/audit.rules
    owner: root
    group: root
    mode: "0640"
  notify: "reload auditd rules"

- name: Ensure auditd service is enabled and started
  ansible.builtin.service:
    name: auditd
    state: started
    enabled: true
