[options]
    UseSyslog

[openSSH]
    sequence      = {{ knock_open_sequence | join(",") }}
    seq_timeout   = {{ knock_seq_timeout }}
    command       = {{ knock_open_script_path }}
    tcpflags      = syn

[closeSSH]
    sequence      = {{ knock_close_sequence | join(",") }}
    seq_timeout   = {{ knock_seq_timeout }}
    command       = {{ knock_close_script_path }}
    tcpflags      = syn
